<p *ngIf="!person;else body"><em>Loading...</em></p>
<ng-template #body>
  <h1>Person #{{person.id}}</h1>
  <div class="form-group">
    <label>Name</label>
    <input type="text" [(ngModel)]="person.name" class="form-control" #name="ngModel" required />
    <alert type="danger" [hidden]="name.valid || name.untouched">
      <strong>Error!</strong> Field Name must be filled.
    </alert>
  </div>
  <div class="form-group">
    <label>Surname</label>
    <input type="text" [(ngModel)]="person.surname" class="form-control" #surname="ngModel" required />
    <alert type="danger" [hidden]="surname.valid || surname.untouched">
      <strong>Error!</strong> Field Surame must be filled.
    </alert>
  </div>
  <div class="row">
    <div class="form-group col-12 col-sm-6 col-md-4">
      <label>Biography file</label>
      <app-file-upload [PersonId]="person.id" [HasFile]="person.hasFile" *ngIf="person.id"></app-file-upload>
    </div>
  </div>
  <hr />
  <div class="form-group">
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
    <input type="button" value="Delete person" (click)="delete()" class="btn btn-danger" *ngIf="person.id" />
  </div>
  <h2>Person events</h2>
  <ng-template [ngIf]="lifeevents">
    <div class="form-group">
      <input type="button" value="Add" (click)="add_lifeevent()" class="btn btn-primary" />
    </div>
    <table class='table' *ngIf="lifeevents">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lifeevent of lifeevents">
          <td>
            <a [routerLink]='["/lifeevent-edit",lifeevent.id]'>
               {{ lifeevent.name }}
            </a>
          </td>
          <td>
            <a [routerLink]='["/lifeevent-edit",lifeevent.id]'>
              {{ lifeevent.eventdate | date }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</ng-template>
