<p *ngIf="!person;else body"><em>Loading...</em></p>
<ng-template #body>
  <h1>Person {{person.id}}</h1>
  <div class="form-group">
    <label>Name</label>
    <input type="text" [(ngModel)]="person.name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Surname</label>
    <input type="text" [(ngModel)]="person.surname" class="form-control" />
  </div>
  <div class="form-group">
    <app-file-upload [PersonId]="person.id"></app-file-upload>
  </div>
  <div class="form-group">
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
  </div>
  <ng-template [ngIf]="lifeevents">
    <div class="form-group">
      <input type="button" value="Add" (click)="add_lifeevent()" class="btn btn-success" />
    </div>
    <table class='table' *ngIf="lifeevents">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lifeevent of lifeevents">
          <td>
            {{ lifeevent.id }}
          </td>
          <td>
            <a [routerLink]='["/lifeevent-edit",lifeevent.id]'>
              <span class='glyphicon glyphicon-th-list'></span>  {{ lifeevent.name }}
            </a>
          </td>
          <td>{{ lifeevent.eventDate | date }}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</ng-template>
