<h1>Persons list</h1>
<p *ngIf="!persons; else body"><em>Loading...</em></p>
<ng-template #body>
  <div class="form-group">
    <input type="button" value="Add" (click)="add()" class="btn btn-success" />
  </div>
  <table class='table' *ngIf="persons">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">
        <td>
          <a [routerLink]='["/person",person.id]'>
            {{ person.id }}
          </a>
        </td>
        <td>
          <a [routerLink]='["/person",person.id]'>
            {{ person.name }}
          </a>
        </td>
        <td>
          <a [routerLink]='["/person",person.id]'>
            {{ person.surname }}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination [totalItems]="this.count" [(ngModel)]="this.PageNo" (pageChanged)="pageChanged($event)"></pagination>
</ng-template>
