<p *ngIf="!lifeevent;else body"><em>Loading...</em></p>
<ng-template #body>
  <h1>LifeEvent of <input type="button" value="{{lifeevent.personfullname}}" (click)="goPerson()" class="btn btn-light btn-lg" /></h1>
  <div class="form-group">
    <label>Name</label>
    <input type="text" [(ngModel)]="lifeevent.name" class="form-control" (ngModelChange)="changed()" required #name="ngModel" />
    <alert type="danger" [hidden]="name.valid || name.untouched">
      <strong>Error!</strong> Field Name must be filled.
    </alert>
  </div>
  <div class="row">
    <div class="form-group  col-12 col-sm-6 col-md-4">
      <label>Date</label>
      <input class="form-control" placeholder="Enter event date pls" bsDatepicker [isOpen]="isOpen" [(ngModel)]="lifeevent.eventdate" (ngModelChange)="changed()" required #eventdate="ngModel" />
      <alert type="danger" [hidden]="eventdate.valid || eventdate.untouched">
        <strong>Error!</strong> Field Date must be filled.
      </alert>
    </div>
   
  </div>
  <div class="form-group">
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" [disabled]="name.invalid || eventdate.invalid" />
    <input type="button" value="Delete" (click)="delete()" class="btn btn-danger"  *ngIf="lifeevent.id"/>
  </div>
  <alert type="danger" *ngIf="show_alert">
    <strong>Error!</strong> {{messages}}.
  </alert>
  <alert type="success" *ngIf="show_ok">
    <strong>Success!</strong> event successfully saved.
  </alert>
</ng-template>
