<h1>LifeEvent list</h1>
<p *ngIf="!lifeevents"><em>Loading...</em></p>
<table class='table' *ngIf="lifeevents">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Event</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lifeevent of lifeevents">
      <td>
        <a [routerLink]='["/lifeevent-edit",lifeevent.id]'>
          <span class='glyphicon glyphicon-th-list'></span>  {{ lifeevent.id }}
        </a>
      </td>
      <td>
        <a [routerLink]='["/lifeevent-edit",lifeevent.id]'>
          <span class='glyphicon glyphicon-th-list'></span>  {{ lifeevent.name }}
        </a>
      </td>
      <td>
        <a [routerLink]='["/lifeevent-edit",lifeevent.id]'>
          <span class='glyphicon glyphicon-th-list'></span>  {{ lifeevent.eventDate | date }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
